

.popup-desk {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.5);
}
.popup-desk.active {
	display: block;
}
.popup {
	position: absolute;
	left: calc(50% - 200px);
	top: 200px;
	width: 400px;
	background: #aaa;
	border-radius: 20px;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
	z-index: 10;
}

.popup table {
	width: 100%;
	background: #fff;
	border-collapse: separate;
	border-spacing: 0.25em;
	padding: 1em;
}
.popup th {
	height: 3em;
	width: 3em;
	box-sizing: border-box;
	border: none;
	font-weight: bold;
}
.popup td {
	height: 3em;
	width: 3em;
	line-height: 1.2em;
	box-sizing: border-box;
	border: 1px solid #aaa;
}
.popup .holiday {
	border-color: red;
	color: red;
	background: pink;
}
.popup .holiday > th td {
	background: #fff;
}
.popup .noourmonth {
	border-color: transparent;
}
.popup .today {
	background: #96deeb;
	color: white;
}
.popup .selected {
	background: rgb(212, 145, 20);
	color: white;
}
.popup .workday:hover {
	background: #83c283;	
	color: white;	
}
.popup .holiday:hover {
	background: #e74b40;
	color: white;
}
.popup .header {
	display: flex;
	justify-content: space-between;
	background: powderblue;
	padding-top: 2em;
}
.popup .header span {
	display: block;	
	height: 2em;
	width: 2em;
	
	cursor: pointer;
	font-size: 2em;
}