/* catalog */
.catalog {
	display: flex;
	gap: 0.5em;
	padding-top: 2em;
}
aside {
	flex: none;
	width: 180px;
	padding: 0 0.5em;
}
.asside_content h2 {
	padding-bottom: 20px;
}
.asside_content a {
	padding-top: 20px;
}
.cat-blocks {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 0.5em;
}

/* different screens 
@media (min-width: 576px) {
	.cat-blocks {
		/*gap: 2em;
	}
	aside {
		width: 260px;
	}
	.catalog {
		gap: 1em;
	}
}
@media (min-width: 768px) {
	.cat-blocks {
		gap: 0.25em;
	}
}
@media (min-width: 992px) {
	.cat-blocks {
		gap: 0.75em;
	}
}
@media (min-width: 1200px) {
	.cat-blocks {
		gap: 1.5em;
	}
}
@media (min-width: 1400px) {
	.cat-blocks {
		gap: 1em;
	}
}