@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;600&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
body {
	margin: 0;
	font: normal 14px Montserrat, sans-serif;
	min-width: 320px;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
	font-size: inherit;
}
a:hover{
	color: inherit;
}
h1, h2, h3, p {
    padding: 0;
    margin: 0;
	line-height: 1.5em;
}
h1 {
	text-align: center;
}
h2 {
	font-size: 1.75em;
	font-weight: 600;	
}
h3 {
    font-size: 1.25em;
	font-weight: 500;
}
h5 {
	padding: 1em 0;
}
p {
	line-height: 160%;
}
button {
    font: inherit;
	border: none;
	background: none;
	border-radius: none;
}
section {
	margin-top: 20px;
}
section > h2 {
	padding: 20px 0;
}
.container {
	width: 1440px;
	margin: 0 auto;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.form-control {
	border: none;
}
.form-control:focus {
	box-shadow: none;
}

.div-popup:active  {
	position: fixed;
	top: 320px;
	left: 50%;
	margin-left: -250px;
	width: 450px;
	background: #fff;
	border-radius: 10px;
	color: #000;
}
/* header */
header {
	background: #fff;
	color: #000;
}
.top_header {	
	height: auto;
	padding-top: 2%;
}
#yourcity {
    padding-top: 2em;
    padding-left: 1.5em;
	cursor: pointer;
}
.div-popup, .popup-desk {
	opacity: 0;
	display: none;
	background: #fff;
}
.logo {
	font-family: 'Cormorant', serif;
	font-size: 2em;
	font-weight: 500;	
	line-height: 1.5em;
}
.logo:hover {
	opacity: 0.5;
}

/* header nav_menu*/
.nav_menu {
	display: flex;
	flex-wrap: nowrap;
	flex: 1 1;
	align-items: center;
	justify-content: flex-end;	
}
.nav_menu > button {
	margin: 0 0.5em;
	align-items: center;
}
.yourcity:hover  {
	cursor: pointer;
}
.search {	
	max-width: 180px;
	flex-wrap: nowrap;
}
button.btn-search {
	width: 30px;
    height: 30px;
}
div.input-group {
    padding-right: 16px;
	border-radius: 50px;
	border: 1px solid #ddd;
}
.login, .basket{
	display: flex;
	align-items: center;
}
.login span {
	margin-right: 1em;
}
.basket span {
	background: #999;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	color: #fff;
 	margin: 0 0 1.5em 0;
	line-height: 2em;
}
.basket-label {
	position: absolute;
	top: 80px;
	right: 7%;
	display: none;
	opacity: 0;
	transition: opacity 5s ease;
}
.basket:hover + .basket-label {
	display: block;
	opacity: 1;
	transition: opacity 5s ease;
}

/*bottom_header */
.bottom_header {
    margin-top: 1em;
    text-align: center;
}
.menupoint {
    position: relative;
	margin: 0 1em;
	line-height: 1.5;
	padding: 0.5em 0.25em 1em;
}

.menupoint > div {
	display: none;
	position: absolute;
	width: 100vw;
	top: 2em;
	left: 0;
	padding: 16px;
    text-align: left;
	background: #fff;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
	z-index: 10;
}
.menupoint:hover > div,
.menupoint > div:hover {
	display: block;
}
.line-point, .pulldown  a:first-child {
	font-weight: 500;
}
.line-point:hover {
    opacity: .5;
}
.pulldown {
    padding-left: 1em;
}
.pulldown-point {
	padding: 0.25em 0 0.5em;
	margin: 0 0.5em;
	background: #fff;
}
.pulldown-point:hover {
	text-decoration: underline;
}
.sale, .sale:hover, .sale:visited {
    color: red;
}