
/* order */
.order {
	width: 100%;
}
.nihil {
	display: none;
}
.empty .nihil {
	display: block;
}
.empty .table,
.empty #orderdata {
	display: none;
}
.rub:after, .sum:after, .allsum:after {
	content: ' \20bd';
}
.num input {
	border: 0;
	width: 50px;
}
.del {
	width: 60px;
}
.del > div {
	width: 24px;
	height: 24px;
	border-radius: 24px;
	text-align: center;
	font: normal 24px/24px Arial;
	transform: rotate(45deg);
	transform-origin: center;
	margin: 0 auto;
	background: red;
	color: white;
	cursor: pointer;
}

/* form_order */
.order-form {
	margin: 2em;
	padding: 20px 60px;
	width: 50%;
    background: #ddd;
	box-shadow: 5px 10px 15px rgba(110, 125, 134, 0.2);	
}
.order-form form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  margin: 1.5em auto;
   
}
.order-form form > label {
	line-height: 2em;
	padding: 0.75em 0 0.25em 0;
}
.order-form form > input, textarea {
	box-sizing: border-box;
    padding: 1em;
    border: 1px solid #aaa;   
}

::placeholder {
	line-height: 2em;
	color: #aaa;

}

.order-form form  button {
    align-self: center;
	width: 100%;
    padding: 1em 0;
    margin: 2em 0;
    border-radius: 0%;

}
/* different screens */
	@media (min-width: 768px) {
	
		.order-form {
			width: 50%;
		}
		
	}

