/* aside */
aside {
	background: brown;
	color: #fff;
}
.catmenu {
	padding: 16px;
}
.catmenu_item {
	padding: 0 20px 0px;
	position: relative;
}
.catmenu_item:before {
	content: '=>';
	position: absolute;
	left: 0;
}
.catmenu_item a {
	display: block;
	color: #fff;
	background: #9ff14280;
	text-decoration: none;
	line-height: 1.5em;
}
.catmenu_item a:hover {
	text-decoration: underline;
}
.submenu_mover {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	transition: all 1s ease;
}
.open .submenu_mover {
	transform: rotate(180deg);
}
.submenu {
	height: 0;
	overflow: hidden;
}
.submenu a {
	position: relative;
	padding-left: 1.5em;
}
.submenu a:before {
	content: '->';
	position: absolute;
	left: 0;
}

/* different screens */
@media (min-width: 576px) {
	
}
@media (min-width: 768px) {
	
}
@media (min-width: 992px) {
	
}
@media (min-width: 1200px) {
	
}
@media (min-width: 1400px) {
	
}