html {
	height: 100%;
}
	body {
	height: 100%;
	margin: 0;
	font: normal 16px Montserrat, sans-serif;
	min-width: 320px;
	background: url('../images/bg-page-tropical.jpg') left top repeat;
	background-size: cover;
	color: #000;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;	
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
	font-size: inherit;
}
a:hover{
	color: inherit;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    padding: 0;
    margin: 0;
	line-height: 1.5em;
}
h1 {
	text-align: center;
	line-height: 1.5em;
}
h2 {
	text-align: left;
	font-weight: 500;
}
h3 {
	font-size: 1.25em;
	font-weight: 600;
}
h5 {
	font-size: 1em;
	font-weight: 500;
	padding: 1em 0;
}
p {
	line-height: 160%;
}
button {
	font: inherit;
	border: none;
	background: none;
	border-radius: 0;
}
section {
	padding: 20px;
}
section > h2 {
	padding-bottom: 12px;
}
.row {
	margin: 0;
}
.container {
	width: 1440px;
	margin: 0 auto;
	padding: 0;
}
.form-control {
	border: none;
}
.form-control:focus {
	box-shadow: none;
}

/* header */
header {
	width: 100%;
	background: none;
	margin: 0;
	padding: 0;
	background: #fff;
}
.top_header, .bottom_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}
#yourcity {
	display: none;
}
.div-popup {
	opacity: 0;
	display: none;
	background: #fff;
}
.btn-yes,
.btn-no {
 display: inline-block;
 margin: 8px 30px;
 max-width: 30%;
}
.logo {
	text-align: center;
	font-family: 'Cormorant', serif;
	font-size: 2em;
	font-weight: 500;
	line-height: 1.5em;
	flex-grow: 3;
}
.logo:hover {
	opacity: 0.5;
}

/* header nav_menu*/
.nav_menu {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin: 0;	
}
.nav_menu > button {
	margin: 0 0.5em;
	align-items: center;
}
.search {
	max-width: 150px;
	flex-wrap: nowrap;
}
button.btn-search {
	width: 30px;
	height: 30px;
}
div.input-group {
	background: #fff;
	padding-right: 16px;
	border-radius: 50px;
	border: 1px solid #ddd;
}
.login, .basket{
	display: flex;
	align-items: center;
}
.login span {
	margin-right: 1em;
}
.basket span {
	background: #999;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	color: #fff;
	margin: 0 0 1.5em 0;
	line-height: 2em;
}
.basket-label {
	position: absolute;
	top: 80px;
	right: 7%;
	display: none;
	opacity: 0;
	transition: opacity 5s ease;
}
.basket:hover + .basket-label {
	display: block;
	opacity: 1;
	transition: opacity 5s ease;
}
.basket:focus,
.x:focus {
	box-shadow: none;
}
/* offcanvas*/
.basket-offcanvas{
	display: inline;
	margin:  auto;
}
.ofcanvas-item p {
	padding-bottom: 60px;
}
.btn-secondary {
	border-radius: 0;
}
/*bottom_header */
.menupoint {
	position: relative;
	margin: 0 2em;
	line-height: 1.5;
	padding: 0.5em 0.25em 1em;
}
.menupoint > div {
	display: none;
	position: absolute;
	width: 100vw;
	top: 2em;
	left: 0;
	padding: 16px;
	text-align: left;
	background: #fff;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
	z-index: 10;
}
.menupoint:hover > div,
.menupoint > div:hover {
	display: block;
}
.line-point, .pulldown  a:first-child {
	font-weight: 500;
}
.line-point:hover {
	opacity: .5;
}
.pulldown {
	padding-left: 1em;
}
.pulldown-point {
	padding: 0.25em 0 0.5em;
	margin: 0 0.5em;
	background: #fff;
}
.pulldown-point:hover {
	text-decoration: underline;
}
.sale, .sale:hover, .sale:visited {
	color: red;
}
/* main */
main{
	flex: 1 1 auto;
	background-color:#ffffff;
	padding: 30px 0;
}
/* banner */
.main_banner {
	padding: 0;
}
.carousel-caption {
	padding-top: 0.25em;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-caption h3 {
	font-family: 'Cormorant', serif;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 4em;
}
.carousel-caption p {
	font-weight: 500;
	line-height: 1.5em;
	padding: 0.5em 0;
}
#sl_1 {
	color:#000;
	left: auto;
	top: 0%;
	right: auto;
	bottom: auto;
	display: flex;
	width: 100%;
}
#sl_2{
	color: #fff;
}
.img-linc img:hover{
	transform: scale(1.2);
	transition: 2s;
}
.card {
	border-radius: 0;
	border: none;
}
/* aside */
aside {	
	flex: none;
	display: none;
	width: 150px;
	background: #fff;
	padding: 10px;
}
.catmenu {	
	padding: 16px 0;
}
.catmenu_item {
	padding: 0 20px 8px;
	position: relative;
}
.catmenu_item a {
	padding-bottom: 8px;
}

.catmenu_item a:hover {
	font-weight: 600;
}
.submenu_mover {	
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.5em;
	font-weight: 500;
	cursor: pointer;
	transition: all 1s ease;
}
.open .submenu_mover {
	transform: rotate(45deg);
	color: #888;
}
.submenu {
	height: 0;
	overflow: hidden;
}
.submenu a {
	position: relative;
	padding-left: 20px;
}
.submenu {
	height: 0;
	overflow: hidden;
	max-width: max-content;
	line-height: 1.5em;
}
.submenu a {
	position: relative;
	padding-left: 1em;
}
/* catalog */

.catalog {
	display: flex;
	padding: 0;
}
.catalog-card {
	display: flex;
	padding: 16px;
	width: 100%;
	border-radius: 0;	
}
.card-img-top {
	border-radius: 0;
}
.card-body {
	padding: 0;
}
.card-footer {
	padding-left: 0;
	background: #fff;
	border-top: 1px solid#888;

}
li.price:after {
	content: ' \20bd';
}
.cena_old > span {
 text-decoration: line-through;
 color:#555;
}
.cena_old {
	color: red;
}
.sale-block {	
	background: #f88484;
}
.sale-block h2 {
	color: #fff;
	font-size: 4em;
	text-align: center;
	padding-top: 20px;
}
/* grid */
.container-grid {
	max-width: 100%;
	margin: 0 auto 20px;
	padding: 20px;
}
.grid-container div {
	width: 100%;
	height: 100%;
	object-fit: cover;
}   
.grid-container {
	max-width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 175px;
	grid-gap: 10px;
	grid-auto-flow: dense;
}
.item1 {
			grid-column: span 2;
			grid-row: span 1;
	}
	.item2 {
			grid-column: span 1;
			grid-row: span 3;
	}
	.item3 {
			grid-column: span 1;
			grid-row: span 4;
	}
	.item4 {
			grid-column: span 1;
			grid-row: span 4;
	}
	.item5 {
			grid-column: span 1;
			grid-row: span 3;
	}
/* product */
/* gallery */
.image-product {
	display: flex;
}
.main-image {
	min-width: 450px;
	margin: 0 12px;
}
.gallery-desk img {
	cursor: zoom-in;
}
.small-image > img {
	margin: 0 auto 12px;
}
.product {
	padding: 0 24px;
}	
.product-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 24px;
}
.product-item div {
	margin-top: 12px;
}
.product-title {
	font-size: 2em;
	font-weight: 500;
	text-align: left;
}
.prod-price {
	font-size: 30px;
	font-weight: 700;
	padding: 1em 0;
}
.prod-price::after {
	content: '₽';
}
.product-color {
	font-weight: 600;
	color: #555;
	padding: 1em 0;
}
.product-color span:last-child {
	font-size: 1.5em;
}
button.sizes {
	width: 40px;
	height: 40px;
	margin: 8px;
	background: #fff;
	border: 1px solid #4c4c4c;
	border-radius: 50%;
}
.sizes:hover {
	border: 2px solid #000;
}
.btn-basket-add, .btn-like-add {
	width: 100%;
	margin: 1em 0;
	display: inline-block;
	border-radius: 15px;
}
.btn-basket-add:hover, .size a:hover {
	opacity: .7;
}
table .product-size {
	font-size: 0.75em;
}
div.product-size {
 position: relative;
}
a.product-size {
	display: inline;
	position: absolute;
	right: 0;
}
a.product-size:hover {
	text-decoration: underline;
}
.product-detals a {
	font-weight: 600;
}

/* order */
.order {
	width: 100%;
}
.nihil {
	display: none;
}
.empty .nihil {
	display: block;
}
.empty .table,
.empty #orderdata {
	display: none;
}
.rub:after, .sum:after, .allsum:after {
	content: ' \20bd';
}
.num input {
	border: 0;
	width: 50px;
}
.del {
	width: 60px;
}
.del > div {
	width: 24px;
	height: 24px;
	border-radius: 24px;
	text-align: center;
	font: normal 24px/24px Arial;
	transform: rotate(45deg);
	transform-origin: center;
	margin: 0 auto;
	background: red;
	color: white;
	cursor: pointer;
}

/* form_order */
.order-form {
	margin: 2em;
	padding: 20px 60px;
	width: 50%;
    background: #ddd;
	box-shadow: 5px 10px 15px rgba(110, 125, 134, 0.2);	
}
.order-form form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  margin: 1.5em auto;   
}
.order-form form > label {
	line-height: 2em;
	padding: 0.75em 0 0.25em 0;
}
.order-form form > input, textarea {
	box-sizing: border-box;
    padding: 1em;
    border: 1px solid #aaa;   
}
::placeholder {
	line-height: 2em;
	color: #aaa;

}
.order-form form  button {
    align-self: center;
	width: 100%;
    padding: 1em 0;
    margin: 2em 0;
    border-radius: 0%;
}
/* different screens */
	@media (min-width: 768px) {	
		.order-form {
			width: 50%;
		}		
	}
/* contacts*/
.feedback h3 {
	padding-bottom: 2em;
}
.contacts {
	line-height: 1.25em;
}
.feedback form > input, textarea {
	margin-bottom: 2em;
}
.feedback form > textarea {
	min-height: 120px;
}
.feedback a {
	display: inline;
	text-decoration: underline;
}
/* footer */
footer {
	flex: 0 0 auto;
	background: black;
	color: white;	
	padding-bottom: 20px;
}
footer > section {
	background: inherit;
}
.footer_linc {
	padding-bottom: 0.5em;
}
.top_footer{
	padding:  20px 20px 0;
	height: auto;
	/*text-align: center;*/
}
.top_footer a, 
.top_footer div, 
.top_footer p,
.top_footer h2,
.top_footer h3 {
	padding-bottom: 0.75em;
}
a.phone { 
 font-weight: 500;
 padding-bottom: 0.75em;
}
.subscribe_b p {
	font-size: 0.8em;
}
.subscribe_b p:last-child {
	font-size: 0.75em;
}
.social-link {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

.btn-social{
	display: flex;
	flex-wrap: nowrap;
	display: block;
	margin-right: 0.75em;
	opacity: .5;
}
.btn-social:hover{
	opacity: 1;
}
.bottom_footer {
	font-size: 0.75em;
	text-align: center;
}
/* popup */
.div-popup {
	position: fixed;
	top: 300px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	background: #fff;
	border-radius: 10px;
	padding: 25px;
	color: #000;
}
.popup-desk {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.3);
}
.popup-desk.active {
	display: block;
}
.popup {
	position: absolute;
	left: calc(50% - 200px);
	top: 300px;
	width: 400px;
	background: #fff;
	padding: 30px;
	box-sizing: border-box;
	text-align: center;
}
.div-popup.active {
	display: block;
	position: fixed;
	top: 320px;
	left: 50%;
	margin-left: -250px;
	width: 400px;
	background: #fff;
	border-radius: 10px;
	color: #000;
}
.popup input {
	background: #ddd;
	border: none;
	border-radius: 5px;
	padding: 0.5em 1em;
	width: 100%;
	margin: 0.5em auto;
}
.popup button {
	background: #000;
	color: #fff;
	border-radius: 5px;
	padding: 5px 15px;
	width: 80%;
	margin: 16px 0;
}
.popup div {
	display: flex;
	justify-content: space-around;
}
.lightbox {
	left: 30px;
	right: 30px;
	top: 30px;
	width: auto;
}
.lightbox img {
	max-width: 100%;
}
.cross {
	position: absolute;
	right: 10px;
	top: 5px;
	color: #535151;
	font: bold 30px Arial;
	transform: rotate(45deg);
	cursor: pointer;
}
 /* different screens */
@media (min-width: 576px) {
	.container {
		width: 100%;
	}
}
@media (min-width: 768px) {
	body {
		font-size:  14px;
	}
	.container {
		width: 100%;
	}
	#yourcity {
		font-size: 0.75em;
		margin-right: 20px;
		display: flex;
		cursor: pointer;
		line-height: 1.5em;
		align-items: center;
	}
	aside {
		display: none;
	}
	.catalog-card, 
	.card-index {
		width: 50%;
	}
	.gallery {
		display: block;
	}
	
}
@media (min-width: 992px) {
	.card-index {
		width: 25%;
	}
	.catalog-card {
		width: 33%;
	}
		aside {
		display: block;
		width: 280px;
	}
	
}
/*

@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
	
}
*/